
body {
  background-color: #f6f2f7;
  font-family: sans-serif;
}

.header {
  top: 0;
  left: 0;
  padding: 24px;
  position: fixed;
  background-color: #bf5ced;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.header a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
}

#update-view-button {
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 20px;
  border: none;
  box-shadow: 4px 2px 2px #5cedbf;
  border-radius: 16px;
  font-weight: bold;
  padding: 16px;
  width: 120px;
}

#camper-survey-submit-button:hover, #update-view-button:hover, .header a:hover {
  color: #5cedbf;
}

.content {
  margin: 96px 0 112px;
}

.content .content-block {
  align-items: center;
  display: flex;
}

.content .content-block.dir-left {
  flex-direction: row-reverse;
}

.content .content-block.dir-right {
  flex-direction: row;
}

.content .content-block:not(:last-child) {
  border-bottom: 1px solid #26334f;
}

.content .content-block p {
  font-size: 18px;
  line-height: 2;
  padding: 0 32px;
}

.raspberry-pi-5-img {
  width: 500px;
}

#camper-survey {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(55, 73, 113, 0.5);
  border-radius: 16px;
  color: white;
  padding: 16px;
  margin: 16px;
  width: 100%;
}

#camper-survey div {
  margin: 16px 0;
}

#camper-survey .color-container {
  width: 100%;
}

#camper-survey .multi-fields {
  display: flex;
  justify-content: space-around;
}

#camper-survey .multi-fields fieldset {
  width: 200px;
}

#camper-survey-submit-button {
  cursor: pointer;
  border: none;
  box-shadow: 4px 2px 2px #5cedbf;
  border-radius: 16px;
  font-weight: bold;
  padding: 16px;
  width: 120px;
}

.footer {
  background-color: #26334f;
  bottom: 0;
  left: 0;
  padding: 24px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px 0;
  }

  .header a {
    font-size: 28px;
  }

  .content .content-block {
    flex-direction: column;
  }

  .content .content-block p {
    font-size: 14px;
    padding: 0 16px;
  }

  .raspberry-pi-5-img {
    width: 200px;
  }
}